nav{
    background-color: chartreuse;
    height: 100%;
    line-height: 20px;
    padding: 10px;
}

nav ul{
    font-size: 20px;
    display: flex;
    justify-content:right;
    align-items: center;


}

nav h1{
    font-size: 20px;
    position: absolute;
    top: 27px;
}

nav h1 span{
    color: rgb(255, 2, 2);
}

nav li{
    list-style: none;
    padding: 10px;

}

li{
    cursor: pointer;
}

nav>ul>li{
    float: left;
}

nav a{
    text-decoration: none;
    color: #000;
}

.dropdown{
    display:none;
    position: absolute;
    background-color: aqua;
    padding: 0;

}

.dropdown a{
    color: #040303;
    text-align: center;
}

nav>ul>li:hover>ul{
    display: block;
}



